$globalSidebarWidth : 225px;
$sidebarWidth : 200px;
$topHeaderHeight : 73px;
$topActionBarHeight : 51px;
$footerHeight : 32px;
$zeroError : 2px;

body, html
{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

body
{
    background-color: #fafafa;
    display: flex;
}

a
{
    color: #374656;
}

.btn
{
    border-radius: 0;
}

.card
{
    border-radius: 0px;
    border: none;

    .card-link
    {
        font-size: .9em;
    }
}

.removecaret.dropdown-toggle::after 
{
    display: none;
}

.tooltip
{
    text-align: justify;
    font-size: .7em;
    
    .tooltip-inner
    {
        border-radius: 0;
    }
}

.block-with-text 
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

div.global-wrapper
{
    .paper
    {
        background-color: #fff;
        // box-shadow: 0 0 0 1px #e3e5e8;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
        box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
    }

    & > aside.global-sidebar-wrapper
    {
        color: #d7d9db;
        font-weight: 100;
        font-size: .9em;
        background-color: #374656;  
        width: $globalSidebarWidth;
        overflow: auto;

        a
        {
            color: inherit;
        }
    }

    & > main
    {
        max-width: calc(100vw - #{$globalSidebarWidth});

        & > form
        {
            min-height: 0px;
        }

        &, & > form
        {
            & > header > div.master-header
            {
                background-color: #fff;

                & > div.top-header
                {
                    background-color: rgba(250, 250, 250, 1);

                    nav
                    {
                        font-size: .7em;
                        padding: 5px 10px;
    
                        ol
                        {
                            padding: 0px;
                            margin: 0px;
                        }

                        span.master-search
                        {
                            color: #999;
                            position: relative;

                            i.fa
                            {
                                font-size: inherit;
                                -webkit-text-stroke: 2px #fafafa;
                            }

                            input[type=text]
                            {
                                font-weight: 100;
                                border: none;
                                background-color: transparent;
                                outline: none;
                                border: none !important;
                                -webkit-box-shadow: none !important;
                                -moz-box-shadow: none !important;
                                box-shadow: none !important;

                                &::placeholder {
                                    font-weight: 100;
                                }
                            }

                            
                        }
                    }
    
                    h1
                    {
                        font-size: 1.8em;
                        padding: 8px 10px;
                        padding-top: 0px;
                        margin: 0px;
                    }

                    div.right-menu
                    {
                        font-size: .8em;
                        padding-right: 10px;

                        div.dropdown
                        {
                            a.dropdown-toggle:after
                            {
                                display: none;
                            }

                            div.dropdown-menu
                            {
                                left: auto;
                                right: 0px;
                                padding: 10px;
                            }
                        }
                    }
                }

                & > div.action-header
                {
                    overflow: hidden;
                    max-width: calc(100vw - #{$globalSidebarWidth});

                    .page-title
                    {
                        overflow: hidden;
                        font-weight: 100;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
    
            & > div.main-content-wrapper
            {
                min-height: 0;
    
                & > div.sidebar-wrapper
                {
                    background-color: rgba(250, 250, 250, 1);
                    overflow: auto;
    
                    & > div.sidebar
                    {
                        font-size: .9em;
                        width: $sidebarWidth;
                    }
                }
    
                & > div.main-content
                {
                    min-height: 0px;
                    // background-color: #666;

                    & > div.actions-bar
                    {
                        padding: 10px;
                    }

                    & > div.content-wrapper
                    {
                        overflow: auto;

                        & > div.content
                        {
                            min-height: calc(100vh - #{$topHeaderHeight} - #{$footerHeight}  - #{$zeroError});
                            
                            &.with-action-bar
                            {
                                min-height: calc(100vh - #{$topHeaderHeight} - #{$footerHeight} - #{$topActionBarHeight} - #{$zeroError});
                            }
                        }

                        & > footer
                        {
                            color: #eee;
                            font-size: .7em;
                            padding: 8px 10px;
                        }
                    }

                    // & > div.content
                    // {
                    //     background: #fff;
                    //     min-height: calc(100vh - #{$topHeaderHeight} - #{$footerHeight});
                    //     padding: 10px;
                    // }

                    
                }
    
                & > div.details-wrapper
                {
                    overflow: auto;
    
                    & > div.details
                    {
    
                    }
                }
            }
        }
    }
}

.no-outline, .no-outline:focus
{
    outline: none;
    box-shadow: none;
}

.no-backgound-color
{
    background-color: transparent;
}