$globalSidebarWidth : 225px;
$sidebarWidth : 150px;
$topHeaderHeight : 111px;
$footerHeight : 15px;

body, html
{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

body
{
    display: flex;
}

div.global-wrapper
{
    & > aside.global-sidebar-wrapper
    {
        width: $globalSidebarWidth;
        overflow: auto;
    }

    & > main
    {
        & > form
        {
            min-height: 0px;
        }

        &, & > form
        {
            & > header > div.master-header
            {
                & > div.top-header
                {
                    background-color: rgba(250, 250, 250, 1);

                    nav
                    {
                        font-size: .7em;
                        padding: 5px 10px;
    
                        ol
                        {
                            padding: 0px;
                            margin: 0px;
                        }
                    }
    
                    h1
                    {
                        font-size: 1.8em;
                        padding: 8px 10px;
                        padding-top: 0px;
                        margin: 0px;
                    }

                    div.right-menu
                    {
                        font-size: .8em;
                        padding-right: 10px;

                        div.dropdown
                        {
                            a.dropdown-toggle:after
                            {
                                display: none;
                            }

                            div.dropdown-menu
                            {
                                left: auto;
                                right: 0px;
                                padding: 10px;
                            }
                        }
                    }
                }
            }
    
            & > div.main-content-wrapper
            {
                min-height: 0;
    
                & > div.sidebar-wrapper
                {
                    background-color: rgba(250, 250, 250, 1);
                    overflow: auto;
    
                    & > div.sidebar
                    {
                        font-size: .9em;
                        width: $sidebarWidth;
                    }
                }
    
                & > div.main-content
                {
                    min-height: 0px;
                    // background-color: #666;

                    & > div.actions-bar
                    {
                        padding: 10px;
                    }

                    & > div.content-wrapper
                    {
                        overflow: auto;

                        & > div.content
                        {
                            padding: 10px;
                        }
                    }

                    // & > div.content
                    // {
                    //     background: #fff;
                    //     min-height: calc(100vh - #{$topHeaderHeight} - #{$footerHeight});
                    //     padding: 10px;
                    // }

                    // & > footer
                    // {
                    //     color: #eee;
                    //     font-size: .7em;
                    //     padding: 8px 10px;
                    // }
                }
    
                & > div.details-wrapper
                {
                    overflow: auto;
    
                    & > div.details
                    {
    
                    }
                }
            }
        }
    }
}

.no-outline, .no-outline:focus
{
    outline: none;
    box-shadow: none;
}

.no-backgound-color
{
    background-color: transparent;
}