{% block headerActions %}
    <a href="{{ url(['/admin/setting/collection-field/create']) }}" class="btn btn-primary">{{ t('app', 'Create') }}</a>
{% endblock %}

<div class="page-setting-collection-field-list">
    {% for row in array %}
    
    {% endfor %}
</div>