{% extends 'base.twig' %}

{%- block body -%}
    <div class="global-wrapper">
        <div class="global-sidebar">

        </div>
        <div class="main-wrapper">
            <header></header>
            <main>
                {{- content -}}
            </main>
        </div>
    </div>
{%- endblock -%}
